@using Microsoft.AspNet.Identity
@using FrancisStore.Identity
<div class="wrap_header fixed-header2 trans-0-4">
    <!-- Logo -->
    <a href="index.html" class="logo">
        <img src="/Images/icons/logo.png" alt="IMG-LOGO">
    </a>

    <!-- Menu -->
    @{Html.RenderPartial("_MainMenu");}

    <!-- Header Icon -->
<div class="header-icons">
    <!-- Header cart  -->
    @{Html.RenderAction("Notification", "Cart");}

    <span class="linedivide1"></span>

    <div class="header-wrapicon2">
        <img src="~/Images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">

        <!-- Header user info -->

        @{Html.RenderPartial("_HeaderUserInfo");}
    </div>
</div>
</div>

