<h4 class="m-text23 p-t-56 p-b-34">
    Categories
</h4>

<ul>
    <li class="p-t-6 p-b-8 bo6">
        <a href="#" class="s-text13 p-t-5 p-b-5">
            Fashion
        </a>
    </li>

    <li class="p-t-6 p-b-8 bo7">
        <a href="#" class="s-text13 p-t-5 p-b-5">
            Beauty
        </a>
    </li>

    <li class="p-t-6 p-b-8 bo7">
        <a href="#" class="s-text13 p-t-5 p-b-5">
            Street Style
        </a>
    </li>

    <li class="p-t-6 p-b-8 bo7">
        <a href="#" class="s-text13 p-t-5 p-b-5">
            Life Style
        </a>
    </li>

    <li class="p-t-6 p-b-8 bo7">
        <a href="#" class="s-text13 p-t-5 p-b-5">
            DIY & Crafts
        </a>
    </li>
</ul>