<h4 class="m-text23 p-t-50 p-b-25">
    Tags
</h4>

<div class="wrap-tags flex-w">
    <a href="#" class="tag-item">
        Fashion
    </a>

    <a href="#" class="tag-item">
        Lifestyle
    </a>

    <a href="#" class="tag-item">
        Denim
    </a>

    <a href="#" class="tag-item">
        Streetstyle
    </a>

    <a href="#" class="tag-item">
        Crafts
    </a>
</div>