@{
    ViewBag.Title = "Francis Store";
}

<!-- Slide -->
@{Html.RenderAction(nameof(HomeController.Slide), ViewContext.RouteData.Values["controller"]);}

<!-- Banner -->
@{Html.RenderAction(nameof(HomeController.Banner), ViewContext.RouteData.Values["controller"]);}

<!-- Our product -->
@{Html.RenderAction(nameof(HomeController.OurProduct), ViewContext.RouteData.Values["controller"]);}

<!-- Banner video -->
@{Html.RenderAction(nameof(HomeController.BannerVideo), ViewContext.RouteData.Values["controller"]);}

<!-- Blog -->
@{Html.RenderAction(nameof(HomeController.Blog), ViewContext.RouteData.Values["controller"]);}

<!-- Instagram -->
@{Html.RenderAction(nameof(HomeController.Instagram), ViewContext.RouteData.Values["controller"]);}

<!-- Shipping -->
@{Html.RenderAction(nameof(HomeController.Shipping), ViewContext.RouteData.Values["controller"]);}

@section DropdownSelection
    {
    <div id="languegeSelection"></div>
}

@section ModalVideo
    {
    @{Html.RenderPartial("_ModalVideo");}
}

@section Scripts
    {
    <script type="text/javascript">
        //Parallax for Banner Video
        $('.parallax100').parallax100();

        //Dropdown for Language Selection
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#languegeSelection')
        });

        //Add to cart modal
        $('.block2-btn-addcart').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });

        //Add to cart modal
        $('.block2-btn-addwishlist').each(function () {
            var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            $(this).on('click', function () {
                swal(nameProduct, "is added to wishlist !", "success");
            });
        });
    </script>
}