@model IEnumerable<FrancisStore.Web.Models.CollectionViewModel>
@if (Model.Any())
{
    <h4 class="m-text14 p-b-7">
        Categories
    </h4>

    <ul class="p-b-54">

        @foreach (var collection in Model)
        {
            <li class="p-t-4">
                @Html.ActionLink(collection.Name, nameof(ProductController.Index), "Product", new { Id = collection.Id}, new { @class = "s-text13" })
            </li>
        }
    </ul>
}